<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ng-click="resetCategory()" ng-class="{active:isSelected(0)}"><a href="#">All</a></li>
        <li ng-repeat="category in categories" ng-click="selectCategory(category.id)" ng-class="{active:isSelected(category.id)}"><a href="#">{{category.name}}</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
	<div class="row">
		<div class="col-sm-8">
		<div class="article">
			<div class="article-image">
				<img ng-src={{article.image}} alt={{article.title}}>		
			</div>
			<div class="article-body">
				<h2>{{article.title}}</h2>
				<p>{{article.body}}</p>
			</div>
		</div>
		<hr>
		<div class="article-category">
			<h4>Category: <span class="label label-default" ng-repeat="categoryName in categories" ng-show="categoryName.id == article.categoryID">{{categoryName.name}}</span></h4>
		</div>
		<div class="article-date">
			<h4>Published: <small>{{article.datePublished | date:'dd.MM.yyyy'}}</small></h4>
		</div>
		</div>
		<div class="col-sm-4">
			<div class="list-of-all-articles-desc">
				<h4 class="list-of-all-articles-head">All articles (descending):</h4>
				<ul ng-repeat="article in articles | orderBy: '-title'">
					<li class="media"><a ui-sref="app.article({id: article.id})" class="list-group-item" ng-click="selectCategory(article.categoryID)">{{article.title}}</a></li>
				</ul>
			</div>
			<div class="list-of-all-articles-sorted-category">
				<h4 class="list-of-all-articles-head">The articles in the same category:</h4>
				<ul ng-repeat="articleCategory in articles | filter : filters">
					<li class="media" ng-show="articleCategory.id !== article.id"><a ui-sref="app.article({id: articleCategory.id})" class="list-group-item" ng-click="selectCategory(articleCategory.categoryID)">{{articleCategory.title}}</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>



